.banner-contact {
  #banner-img {
    background-image: url(../img/banner-contact.jpg) !important;
  }
}

#contact-us {
  #contact-info {
    svg {
      color: $main-color !important;
      margin-left: 5px;
    }
  }
  input[type="email"] {
    text-align: right;
  }
}
